
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <style type="text/css">
body {background-image:url("/static/nature-map-1280x800.jpg");}
#icons {width:640px; margin-left:auto; margin-right:auto; margin-top:20%}
#notice {position:absolute; bottom:0; right:0; text-align:right;}
  </style>
</head>

<body>
  <div id="icons">
    <a href="/static/primecoin-paper.pdf"><img src="/static/rocket.png" width="100" height="100" title="Paper"/></a>
    <a href="https://github.com/primecoin/primecoin"><img src="/static/coffee_cup_scaled.svg" width="100" height="100" title="Source Code"/></a>
    <a href="https://sourceforge.net/projects/primecoin/files/"><img src="/static/chovynz_money_bag.svg" width="100" height="100" title="Download Primecoin Client"/></a>
    <a href="https://sourceforge.net/projects/primecoin-hp/files/"><img src="/static/mining-truck.png" width="100" height="100" title="Download High Performance Mining Client"/></a>
    <a href="https://github.com/primecoin/primecoin/wiki"><img src="/static/qubodup_pen.svg" width="100" height="100" title="Wiki"/></a>
    <a href="http://www.ppcointalk.org/"><img src="/static/chinese_boy.svg" width="100" height="100" title="Forum"/></a>
  </div>
  <div id="notice">
    2013 Primecoin Developers. For media inquiries please contact <a href="mailto:sunnyking9999@gmail.com">Sunny</a>.
  </div>
</body>

</html>
